.add-to-cart-btn{
    width: 150px;
    padding: 10px 20px;
    background-color: rgb(46, 184, 108);
    color: white;
    border: none;
    border-radius: 30px;
}

.productImg{
    width: 100%;
    height: auto;
}

.seemoreproduct{
    width: 200px;
    padding: 10px 20px;
    background-color: rgba(32, 32, 32, 0.788);
    color: white;
    border: none;
    border-radius: 10px;
}

.buy-now-btn{
    width: 150px;
    padding: 10px 20px;
    background-color: rgba(236, 236, 29, 0.699);
    color: black;
    border: none;
    border-radius: 30px;
}