.resetPassword-Card{
    margin: 0 auto;
    width: 50%;
}
.Head {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: rgb(116, 92, 172);
    cursor: pointer;
    margin-top: 50px;
  }

.resetPassword-Card > Alert{
    color: rgb(221, 122, 122);
}